# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
bin
build

# Ignore Eclipse files
**/.classpath
**/.project
**/.settings

# Ignore h2db directory
h2db

# Ignore vscode directory
.vscode

# Ignore credential files
ansible/hosts
packer/variables.pkr.hcl
